.jumbotron {
  text-align: center;
  font-size: 50px;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #d7eb5a;
  border: 5px dashed black;
}

.container-fluid {

}

.dropdown {

}

.btn {
  border: 3px solid black;
}

#inventory .col-sm-4 {
  padding: 10px 10px 10px 10px;
  border: 3px solid black;
  max-width: 150px;
  height: 150px;
}

#inventory .row {
  max-width: 750px;
  margin: auto;
}

#yard .col-sm-4{
  border: 1px solid black;
  max-width: 250px;
  height: 250px;
  background-image: url(../img/grass4.png);
}

#yard .row {
  max-width: 750px;
  margin: auto;
}

#inventory .jumbotron {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #d7eb5a;
  border: 5px dashed black;
}

#inventory {
  /*display:none;*/
}

#store {
  /*display:none;*/
}

#store .row {
  max-width: 750px;
  margin: auto;
}

#footer{

}

#store .jumbotron {
  text-align: center;
  margin-top: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #d7eb5a;
  border: 5px dashed black;
}

img {
 max-width: 140px;
 max-height: 140px;
}

button {

}

body {
  background-color: #ffcccc;
}
