.jumbotron {
  text-align: center;
  font-size: 50px;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #d7eb5a;
  border: 5px dashed black;
}

.container {
  margin-right: 500px;
  margin-bottom: 50px;
}

.dropdown {
  margin-left: 875px;
  margin-bottom: 5px;
}

.btn {
  border: 3px solid black;
}

#inventory .col-sm-4 {
  padding: 10px 10px 10px 10px;
  border: 3px solid black;
  max-width: 150px;
  height: 150px;
}

#yard .col-sm-4{
  border: 1px solid black;
  max-width: 250px;
  height: 250px;
  background-image: url(../img/grass4.png);
}

#inventory .jumbotron {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #d7eb5a;
  border: 5px dashed black;
  margin-right: 700px;
}

#inventory {
  margin-right: 350px;
}

#footer{
  margin-top: 100px;
  margin-left: 1100px;
}

img {
  max-width: 125px;
  max-height: 125px;
}

button {
  margin-top: 10px;
  margin-right: 85px;
}

body {
  background-color: #ffcccc;
}
